/* Style sheet for albumStyle.html */

@font-face {
	font-family: 'Blackout_midnight' !important;
	src: url("http://kirstenr.bitbucket.org/blackout_midnight-webfont.eot");
	src: url("http://kirstenr.bitbucket.org/blackout_midnight-webfont.svg") format('svg');
	src: url("http//kirstenr.bitbucket.org/blackout_midnight-webfont.ttf") format('truetype');
	src: url("http://kirstenr.bitbucket.org/blackout_midnight-webfont.woff") format('woff');
}


h2 {
	font-family: "Blackout_midnight", fallback, sans-serif;
	font-size: 200%;
}
/* formats the list of band members */
ul {
	list-style-type: square;
	padding: 10px;
	list-style-position: inside;
}

ul li {
	font-family: "Blackout_midnight";
	font-style: italic;
	background: khaki;
	margin-left: 200px;
	margin-right: 200px;
	text-align: center;
}
h3 {
	font-variant: small-caps;
}

/* makes links orange, hover darker orange and visited brown */

a:link {
	color: orange;
	text-decoration: none;
}

a:visited {
	color: chocolate;
}

a:hover {
	color: OrangeRed;
	text-decoration: underline;
	background-color: purple;
	}

a:active {
	color: OrangeRed;
}
/* changes table row color when hovered over */


table {
	border-collapse: collapse;
	text-align: center;
}
th {
	font-style: bold;
	text-align: center;
}
td {
	font-style: italic;
}
tr:nth-child(even) {
	background-color: lavender;
}
tr:nth-child(odd) {
	background-color: white;
}




div.albumart {
	background-image: url("https://images-na.ssl-images-amazon.com/images/I/614ysBPfMCL.jpg");
	background-size: 250px,250px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 250px;
	background-position: top;

}


