
@font-face {
	font-family: "Chunkfive";
	src: url("http://kirstenr.bitbucket.org/Chunkfive-webfont.eot");
	src: url("http://kirstenr.bitbucket.org/Chunkfive-webfont.svg") format("svg");
	src: url("http://kirstenr.bitbucket.org/Chunkfive-webfont.ttf") format("truetype");
	src: url("http://kirstenr.bitbucket.org/Chunkfive-webfont.woff") format("woff");
}

form {
	background-color: paleTurquoise;
}
input {
	background-color: paleTurquoise;
}
h1 {
	color: darkBlue;
	font-family: "Chunkfive";
	text-align: center;
	font-size: 250%;
}

h2 {
	color: darkBlue;
	font-family: "Chunkfive";
	font-size: 150%;
}
th {
	font-family: "Chunkfive";
	font-weight: normal;
	font-size: 120%;
}
div#main {
	background-color: paleTurquoise;
	background-image:
	linear-gradient(
		to right,
		paleTurquoise, 
		white 30%
		);
	text-align: center;
}
div#o {
	background-color: paleTurquoise;
}
h4 {
	font-family: "Chunkfive";
	color: gray;
}

a {
	font-family: "Chunkfive";
	font-size: 150%;
	font-weight: normal;
	padding: 10px;
	vertical-align:text-bottom;
	text-align:center;
}

a:link {
	color: Gray;
	text-decoration: none;
}

a:visited {
	color: gray;
	text-decoration: none;
}

a:hover {
	color: blue;
	font-weight: bold;
	text-decoration: none;
	}

a:active {
	color: blue;
	text-decoration: none;
}

.jumbotron {
	
	border: 1px solid gray;
	padding: 0;
	
}