
@font-face {
	font-family: "Chunkfive";
	src: url("http://kirstenr.bitbucket.org/Chunkfive-webfont.eot");
	src: url("http://kirstenr.bitbucket.org/Chunkfive-webfont.svg") format("svg");
	src: url("http://kirstenr.bitbucket.org/Chunkfive-webfont.ttf") format("truetype");
	src: url("http://kirstenr.bitbucket.org/Chunkfive-webfont.woff") format("woff");
}

h1 {
	color: darkBlue;
	font-family: "Chunkfive";
	text-align: center;
	font-size: 200%;
}

th {
	font-family: "Chunkfive";
	font-weight: normal;
	font-size: 120%;
}
div {
	background-color: paleTurquoise;
	background-image:
	linear-gradient(
		to right,
		paleTurquoise, 
		white 30%
		);
	text-align: center;
}
h4 {
	font-family: "Chunkfive";
	color: gray;
}

a {
	font-family: "Chunkfive";
	font-weight: normal;
	padding: 1px;
}

a:link {
	color: Gray;
	text-decoration: none;
}

a:visited {
	color: khaki;
	text-decoration: none;
}

a:hover {
	color: blue;
	font-weight: bold;
	text-decoration: none;
	}

a:active {
	color: blue;
	text-decoration: none;
}